@using ParkDistrict.Models;
@model ParkDistrict.Models.Park;
<h2>@Model.Name Details</h2>
<p>Location: @Model.Location</p>
@if (@Model.Playground == true)
{
    <p>Playground: Yes</p>
}
else
{
    <p>Playground: No</p>
}
@if (@Model.PicnicArea == true)
{
    <p>Picnic Area: Yes</p>
}
else
{
    <p>Picnic Area : No</p>
}
@if (@Model.Bathroom == true)
{
    <p>Public Bathroom: Yes</p>
}
else
{
    <p>Public Bathroom: No</p>
}
<hr>
<a href='@Url.Action("Edit", new {id = @Model.ParkId})'>
    <img class="createImg", src='@Url.Content("~/img/edit.png")' />
</a>

<a href='@Url.Action("Delete", new {id = @Model.ParkId})'>
    <img class="deleteImg", src='@Url.Content("~/img/delete.png")' />
</a>

