@using ParkDistrict.Models;
@model ParkDistrict.Models.Park;
<h1>Edit</h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ParkId)

    <label for="Name">Park Name:</label>
    @Html.TextBoxFor(model => model.Name)
    <br>

    <label for="Name">Park Location:</label>
    @Html.TextBoxFor(model => model.Location,new { style = "width: 400px;" })
    <br>

    <label for="Name">Playground:</label>
    @Html.CheckBoxFor(m => m.Playground)
    <br>
    

    <label for="Name">Picnic Area:</label>
    @Html.CheckBoxFor(model => model.PicnicArea)
    <br>

    <label for="Name">Public Bathroom:</label>
    @Html.CheckBoxFor(model => model.Bathroom)
    <br>

    <input type="submit" value="Save Changes" class="btn btn-primary" />
}
